---
title: "[ ~ ]"
---

.art-container
  .item
    = image_tag('')

  .placard-area
    .card
      %h1.title Composition IX
      %h2.artist Wassily Kandinsky
      %p.year 1936
      %p.details Oil on canvas
